@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    background-color: #04377907;
    outline-color: #04377997;
    border-radius: 4px;
}

.active{
    background-color: #04377915;
    border-color:#043779f8;
}